{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.introduzione')}}">Introduzione</a>  
    </li>
    <a class="nav-link" href="{{url_for('manager.gestioneUtenti')}}">Gestione Utente</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneTrainers')}}">Gestione Trainer</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneSale')}}">Gestione Sale</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneOrariPalestra')}}">Gestione Orari Palestra</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestionePolicy')}}">Gestione Policy</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneCorsi')}}">Gestione Corsi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
    </li></ul></ul>
{% endblock %}


<!-- Block body -->
{% block body %}
<br><br>
<h1 align="center"> Policy Esistente </h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Id</th>
            <th style="text-align: center;" scope="col">Nome</th>
            <th style="text-align: center;" scope="col">Occupazione sale (in %)</th>
            <th style="text-align: center;" scope="col">N° massimo prenotazioni</th>
            <th style="text-align: center;" scope="col">Elimina</th>
        </tr>
    </thead>
    <tbody>
        {% for Policy in policies %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Policy.id }}</td>
                <td style="text-align: center; width: 10%;">{{ Policy.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Policy.room_precentage }}</td>
                <td style="text-align: center; width: 10%;">{{ Policy.max_user_reserv }}</td>
                <td style="text-align: center; width: 10%;">
                    <a href="{{url_for('manager.eliminaPolicy', idPolicy=Policy.id)}}">Elimina</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>




<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <h1 align="center">
                Inserisci nuova policy
            </h1>

            <br> <br>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action="" method="post">
                        <input type="text" id="name" name="name" class="form-control" placeholder="policy name"><br>
                        <input type="number" id="occupazione" name="occupazione" class="form-control" min="0" max="100">
                        <label for="occupazione">valore percentuale occupazione stanze</label><br>
                        <input type="number" id="maxriservazioni" name="maxriservazioni" class="form-control" min="0" >
                        <label for="maxriservazioni">numero massimo di prenotazioni</label><br>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="modifica" name="modifica" />
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>    
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



{% endblock %}
