{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.introduzione')}}">Introduzione</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneUtenti')}}">Gestione Utente</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneTrainers')}}">Gestione Trainer</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneSale')}}">Gestione Sale</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneOrariPalestra')}}">Gestione Orari Palestra</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestionePolicy')}}">Gestione Policy</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneCorsi')}}">Gestione Corsi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
    </li></ul></ul>
{% endblock %}


<!-- Block body -->
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<br><br>
<!-- Stampa la lista delle sale corsi -->
<h1 align="center"> Lista Sale Corsi </h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Nome</th>
            <th style="text-align: center;" scope="col">Descrizione</th>
            <th style="text-align: center;" scope="col">Capacità Massima</th>
            <th style="text-align: center;" scope="col">Elimina</th>
        </tr>
    </thead>
    <tbody>
        {% for Room in courseRooms %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Room.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Room.description }}</td>
                <td style="text-align: center; width: 10%;">{{ Room.max_capacity }}</td>
                <td style="text-align: center; width: 10%;">
                    <a href="{{url_for('manager.eliminaSala', idSala=Room.id)}}">Elimina</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>


<!-- Stampa la lista delle sale pesi -->
<h1 align="center"> Lista Sale Pesi </h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Nome</th>
            <th style="text-align: center;" scope="col">Descrizione</th>
            <th style="text-align: center;" scope="col">Capacità Massima</th>
            <th style="text-align: center;" scope="col">Elimina</th>
        </tr>
    </thead>
    <tbody>
        {% for Room in weightRooms %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Room.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Room.description }}</td>
                <td style="text-align: center; width: 10%;">{{ Room.max_capacity }}</td>
                <td style="text-align: center; width: 10%;">
                    <a href="{{url_for('manager.eliminaSala', idSala=Room.id)}}">Elimina</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>


<!-- Form per creare una nuova sala -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <h1 align="center">
                Crea Sala
            </h1>

            <br> <br>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action="#" method="post">
                        <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome Sala">
                        <input type="text" id="descrizione" name="descrizione" class="form-control" placeholder="descrizione">
                        <input type="text" id="capienza" name="capienza" class="form-control" placeholder="Capienza Sala">
                        <input type="checkbox" id="isWeight" name="isWeight" value="false">
                        <label for="isWeight">sala pesi</label><br>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Inserisci" name="Inserisci" />
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>

{% endblock %}
