{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.introduzione')}}">Introduzione</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.introduzione')}}">Introduzione</a>  
    </li>
    <a class="nav-link" href="{{url_for('manager.gestioneUtenti')}}">Gestione Utente</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneTrainers')}}">Gestione Trainer</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneSale')}}">Gestione Sale</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneOrariPalestra')}}">Gestione Orari Palestra</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestionePolicy')}}">Gestione Policy</a>  
    </li>
    <!--  QUI SERVIREBBE UN TASTO LOGOUT -->
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}
<br><br>
<h1 align="center"> Policy Esistenti </h1>
<ul class="collection with-header">
    {% for Policy in policies %}
        <li class="collection-item">{{ Policy.name }} {{ Policy.room_percent }} {{ Policy.max_user_reserv }}</li>
    {% endfor %}
</ul>
<br>
{{ policy_attuale }}


<br> <br> <br>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <h1 align="center">
                Inserisci nuova policy
            </h1>

            <br> <br>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action="" method="post">
                        <input type="text" id="name" name="name" class="form-control" placeholder="policy name">
                        <input type="text" id="occupazione" name="occupazione" class="form-control" placeholder="valore percentuale occupazione stanze">
                        <input type="text" id="maxriservazioni" name="maxriservazioni" class="form-control" placeholder="numero massimo di prenotazioni">
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="modifica" name="modifica" />
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>    
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



{% endblock %}
