{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.introduzione')}}">Introduzione</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneUtenti')}}">Gestione Utente</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneTrainers')}}">Gestione Trainer</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneSale')}}">Gestione Sale</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneOrariPalestra')}}">Gestione Orari Palestra</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestionePolicy')}}">Gestione Policy</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneCorsi')}}">Gestione Corsi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
    </li>
</ul>
<!-- Name of the user logged in -->
<ul class="navbar-nav ml-auto">
    <li class="nav_item">
        <a class="nav-link">{{userName}}</a>
    </li>
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}
<br><br>
<!-- MANCA ULTIMA COLONNA CON LINK PER ATTIVARE O DISATTIVARE L'UTENTE -->
<!-- Stampa la lista di tutti gli utenti con la possibilità di attivare e disattivare gli utenti -->
<h1 align="center"> Lista Utenti </h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Utente</th>
            <th style="text-align: center;" scope="col">Telefono</th>
            <th style="text-align: center;" scope="col">Email</th>
            <th style="text-align: center;" scope="col">Elimina Utente</th>
            <th style="text-align: center;" scope="col">Cerca contatti</th>
        </tr>
    </thead>
    <tbody>
        {% for User in utenti %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ User.surname }} {{ User.name }}</td>
                <td style="text-align: center; width: 10%;">{{ User.cellular }}</td>
                <td style="text-align: center; width: 10%;">{{ User.email }}</td>
                <td style="text-align: center; width: 10%;">
                    <a href="{{url_for('manager.cancellaUtente', idUser=User.id)}}">Elimina</a>
                    </td>
                <td style="text-align: center; width: 10%;">
                <a href="{{url_for('manager.contattiUtente', idUser=User.id,nome=User.name)}}">cerca contatti</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
