{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.introduzione')}}">Introduzione</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneUtenti')}}">Gestione Utente</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneTrainers')}}">Gestione Trainer</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneSale')}}">Gestione Sale</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneOrariPalestra')}}">Gestione Orari Palestra</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestionePolicy')}}">Gestione Policy</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneCorsi')}}">Gestione Corsi</a>  
    </li>
    <!--  QUI SERVIREBBE UN TASTO LOGOUT -->
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}
<br><br>
<!-- MANCA ULTIMA COLONNA CON LINK PER ATTIVARE O DISATTIVARE L'UTENTE -->
<!-- Stampa la lista di tutti gli utenti con la possibilità di attivare e disattivare gli utenti -->
<h1 align="center"> Lista Utenti </h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Nome</th>
            <th style="text-align: center;" scope="col">Cognome</th>
            <th style="text-align: center;" scope="col">Attivo?</th>
            <th style="text-align: center;" scope="col">Azione</th>
        </tr>
    </thead>
    <tbody>
        {% for User in utenti %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ User.name }}</td>
                <td style="text-align: center; width: 10%;">{{ User.surname }}</td>
                <td style="text-align: center; width: 10%;">{{ User.is_active }}</td>
                <td style="text-align: center; width: 10%;">
                <a href="{{url_for('manager.attivaDisattivaUser', idUser=User.id)}}">Activate / Deactivate</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% endblock %}
