{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneTrainers')}}">Torna alla gestione Trainers</a>  
    </li>
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<br><br>

<h1 align="center"> Numero di corsi insegnati: {{numeroCorsiInsegnati}} </h1>
<br>
<h1 align="center">Numero di lezioni: {{numeroLezioni}} </h1>


{% endblock %}
