{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.introduzione')}}">Introduzione</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneUtenti')}}">Gestione Utente</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneTrainers')}}">Gestione Trainer</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneSale')}}">Gestione Sale</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneOrariPalestra')}}">Gestione Orari Palestra</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestionePolicy')}}">Gestione Policy</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager.gestioneCorsi')}}">Gestione Corsi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
    </li></ul></ul>
{% endblock %}


<!-- Block body -->
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<br><br>

<h1 align="center"> Numero di trainers: {{numTrainers}} </h1>
<br>
<h1 align="center">Numero di utenti: {{numUsers}} </h1>


{% endblock %}
