{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.introduzione')}}">Introduzione</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotazioniAttive')}}">Prenotazioni Attive</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaSalaPesi')}}">Prenota Sala Pesi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.iscrizioneAiCorsi')}}">Iscrizione ai Corsi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.cambiaDatiUtente')}}">Gestione Utente</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
    </li>
</ul>
<!-- Name of the user logged in -->
<ul class="navbar-nav ml-auto">
    <li class="nav_item">
        <a class="nav-link">{{userName}}</a>
    </li>
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<!-- Stampa attributi utente -->
<br> <br>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <h1 align="center">
                Dati dell'Utente
            </h1>

            <br> <br>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action="{{url_for('user.modificaDatiUtente')}}" method="post">
                        <input type="text" id="nome" name="nome" class="form-control" placeholder="nome" value="{{nome}}">
                        <label for="nome">nome</label><br><br>
                        <input type="text" id="cognome" name="cognome" class="form-control" placeholder="cognome" value="{{congnome}}">
                        <label for="cognome">cognome</label><br><br>
                        <input type="text" id="email" name="email" class="form-control" placeholder="email" value="{{email}}">
                        <label for="email">email</label><br><br>
                        <input type="text" id="telefono" name="telefono" class="form-control" placeholder="telefono" value="{{telefono}}">
                        <label for="telefono">telefono</label><br><br>
                        <input type="text" id="indirizzo" name="indirizzo" class="form-control" placeholder="indirizzo" value="{{indirizzo}}">
                        <label for="indirizzo">indirizzo</label><br><br>
                        <input type="text" id="citta" name="citta" class="form-control" placeholder="città" value="{{citta}}">
                        <label for="citta">città</label><br><br>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Fatto" name="Fatto" />
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>


<!-- Form for changing user password -->
<br> <br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <h1 align="center">
                Dati dell'Utente
            </h1>

            <br> <br>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action="{{url_for('user.modificaPasswordUtente')}}" method="post">
                        <input type="text" id="password" name="password" class="form-control" placeholder="">
                        <label for="password">password corrente</label><br><br>
                        <input type="password" id="newPassword" name="newPassword" class="form-control">
                        <label for="newPassword">nuova password</label><br><br>
                        <input type="password" id="newPassword2" name="newPassword2" class="form-control">
                        <label for="newPassword2">re.-inserisci nuova password</label><br><br>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Cambia password" name="Cambia password" />
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>


{% endblock %}
