{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.introduzione')}}">Introduzione</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotazioniAttive')}}">Prenotazioni Attive</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaSalaPesi')}}">Prenota Sala Pesi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.iscrizioneAiCorsi')}}">Iscrizione alle Lezioni</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.cambiaDatiUtente')}}">Gestione Utente</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
    </li>
</ul>
<!-- Name of the user logged in -->
<ul class="navbar-nav ml-auto">
    <li class="nav_item">
        <a class="nav-link">{{userName}}</a>
    </li>
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Links to switch logged area -->
<br><br>
<h2 align="center"> Ora sei nell'area riservata USER </h1>  
{% if ruolo == 3 %}
<p align="center">
    <a href="{{url_for('manager.introduzione')}}">Passa a Manager</a><br>
    <a href="{{url_for('instructor.introduzione')}}">Passa a Istruttore</a>
</p>
{% endif %}
{% if ruolo == 2 %}
<p align="center">
    <a href="{{url_for('instructor.introduzione')}}">Passa a Istruttore</a>
</p>{% endif %}

<br><br><br>
<!-- Stampa la lista delle prenotazioni della settimana corrente -->
<h1 align="center"> I tuoi prossimi impegni in palestra! </h1>

<br><br>
<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Tipo Prenotazione</th>
            <th style="text-align: center;" scope="col">Data</th>
            <th style="text-align: center;" scope="col">Slot orario</th>
            <th style="text-align: center;" scope="col">Stanza</th>
            <th style="text-align: center;" scope="col">Elimina</th>
        </tr>
    </thead>
    <tbody>
        {% for Reservation in prenotazioni %}
        <tr>
            {% if  Reservation.is_weight %}
           
            <td style="text-align: center; width: 10%;">Sala pesi</td>  
            <td style="text-align: center; width: 10%;">{{ Reservation.reservation_slot_obj.day.strftime('%Y-%m-%d') }}</td>
            <td style="text-align: center; width: 10%;">{{ Reservation.reservation_slot_obj.slot_time }}</td>
            <td style="text-align: center; width: 10%;">{{ Reservation.weight_room_obj.name }}</td>
            

            {% else %}
            <td style="text-align: center; width: 10%;">Lezione</td>  
            <td style="text-align: center; width: 10%;">{{ Reservation.lesson_obj.reservation_slot_obj.day }}</td>
            <td style="text-align: center; width: 10%;">{{ Reservation.lesson_obj.reservation_slot_obj.slot_time }}</td>
            <td style="text-align: center; width: 10%;">{{ Reservation.lesson_obj.course_room_obj.name }}</td>
            {% endif %}

            <td style="text-align: center; width: 10%;">
                <a href="{{url_for('user.eliminaPrenotazione', idPrenotazione=Reservation.id)}}">elimina</a>
            </td> 

        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
