{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.introduzione')}}">Introduzione</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotazioniAttive')}}">Prenotazioni Attive</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaSalaPesi')}}">Prenota Sala Pesi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.iscrizioneAiCorsi')}}">Iscrizione ai Corsi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.cambiaDatiUtente')}}">Gestione Utente</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
    </li>
</ul>
<!-- Name of the user logged in -->
<ul class="navbar-nav ml-auto">
    <li class="nav_item">
        <a class="nav-link">{{userName}}</a>
    </li>
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<br><br>
<!-- Form needed to filter the lessons, based on the selection of a course -->
<div class="container" {{formVisible}}>
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <h1 align="center" > Seleziona un corso </h1>
            <br> <br>
            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action="{{url_for('user.filtraLezioniCorsi')}}" method="post">
                        <select id="corsi" name="corsi">
                            {% for Course in courses %}
                                <option value="{{Course.id}}">{{Course.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="corsi">Seleziona corso</label><br>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Cerca Lezioni" name="Cerca Lezioni" />
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>



<!-- Iscrizione ad un corso da parte dell'utente -->
<br><br>
<h1 align="center" {{tableVisible}}>Lezioni {{courseName}}</h1>
<br><br>

<table id="table" class="table" {{tableVisible}}>
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Slot</th>
            <th style="text-align: center;" scope="col">Giorno</th>
            <th style="text-align: center;" scope="col">Iscriviti</th>  
        </tr>
    </thead>
    <tbody>
        {% for Lesson in lessons %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Lesson.reservation_slot_obj.slot_time }}</td>
                <td style="text-align: center; width: 10%;">{{ Lesson.reservation_slot_obj.day }}</td>     
                <td style="text-align: center; width: 10%;">
                    <a href="{{url_for('user.faiPrenotazioneLezione', idLezione=Lesson.id)}}">iscriviti</a>
                </td>      
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
