{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.introduzione')}}">Introduzione</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotazioniAttive')}}">Prenotazioni Attive</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaSalaPesi')}}">Prenota Sala Pesi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.iscrizioneAiCorsi')}}">Iscrizione ai Corsi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.cambiaDatiUtente')}}">Gestione Utente</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
    </li>
</ul>
<!-- Name of the user logged in -->
<ul class="navbar-nav ml-auto">
    <li class="nav_item">
        <a class="nav-link">{{userName}}</a>
    </li>
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Iscrizione ad un corso da parte dell'utente -->
<br><br>
<h1 align="center">Corsi palestra</h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Nome</th>
            <th style="text-align: center;" scope="col">Trainer</th>
            <th style="text-align: center;" scope="col">Info</th>
            <th style="text-align: center;" scope="col">Iscriviti</th>  
        </tr>
    </thead>
    <tbody>
        {% for Course in courses %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Course.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Course.trainer_obj.surname }}</td>     
                <td style="text-align: center; width: 10%;">
                    <a href="{{url_for('user.infoCorso', idCorso=Course.id, nomeCorso=Course.name, nomeTrainer=Course.trainer_obj.surname, descrizione=Course.description)}}">info</a>
                </td> 
                <td style="text-align: center; width: 10%;">
                    <a href="{{url_for('user.iscrizioneAiCorsi', idCorso=Course.id)}}">lista iscritti</a>
                </td>      
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
