{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.introduzione')}}">Introduzione</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotazioniAttive')}}">Prenotazioni Attive</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaSalaPesi')}}">Prenota Sala Pesi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.iscrizioneAiCorsi')}}">Iscrizione ai Corsi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaLezioneCorso')}}">Prenota Lezione Corso</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.cambiaDatiUtente')}}">Cambia dati utente</a>  
    </li>
    <!--  QUI SERVIREBBE UN TASTO LOGOUT -->
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}

<!-- Stampa la lista delle prenotazioni attive
<h1> Prenotazioni attive </h1>
<ul class="collection with-header">
    {% for prenotazione in prenotazioni %}
        <li class="collection-item">{{ prenotazione.nome }} , {{ prenotazione.istruttore }} , {{ prenotazione.locale }} , {{ corso.dataorainizio }} , {{ corso.dataorafine }}</li>
    {% endfor %}
</ul>
-->

{% endblock %}
