{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.introduzione')}}">Introduzione</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotazioniAttive')}}">Prenotazioni Attive</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaSalaPesi')}}">Prenota Sala Pesi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.iscrizioneAiCorsi')}}">Iscrizione ai Corsi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaLezioneCorso')}}">Prenota Lezione Corso</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.cambiaDatiUtente')}}">Gestione Utente</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
    </li></ul></ul>
{% endblock %}


<!-- Block body -->
{% block body %}
<br><br>
<h1 align="center"> Lezioni Prenotabili </h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Slot Orario</th>
            <th style="text-align: center;" scope="col">Corso</th>
            <th style="text-align: center;" scope="col">Trainer</th>
            <th style="text-align: center;" scope="col">Stanza</th>
            <th style="text-align: center;" scope="col">Azione</th>
        </tr>
    </thead>
    <tbody>
        {% for Lesson in lezioni %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Lesson.reservation_slot }}</td>
                <td style="text-align: center; width: 10%;">{{ Lesson.course }}</td>
                <td style="text-align: center; width: 10%;">{{ Lesson.trainer }}</td>
                <td style="text-align: center; width: 10%;">{{ Lesson.course_room }}</td>
                <td style="text-align: center; width: 10%;">
                    <a href="{{url_for('user.faiPrenotazioneLezione', idLesson=Lesson.id)}}">Elimina</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>



{% endblock %}
