{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.introduzione')}}">Introduzione</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotazioniAttive')}}">Prenotazioni Attive</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaSalaPesi')}}">Prenota Sala Pesi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.iscrizioneAiCorsi')}}">Iscrizione ai Corsi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaLezioneCorso')}}">Prenota Lezione Corso</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.cambiaDatiUtente')}}">Gestione Utente</a> 
    </li>
    <!--  QUI SERVIREBBE UN TASTO LOGOUT -->
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}
<br><br>
<!-- Stampa la lista delle prenotazioni attive -->
<h1 align="center"> Prenotazioni attive </h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Id</th>
            <th style="text-align: center;" scope="col">Corso</th>
            <th style="text-align: center;" scope="col">Stanza</th>
            <th style="text-align: center;" scope="col">Trainer</th>
            <th style="text-align: center;" scope="col">slot orario</th>
        </tr>
    </thead>
    <tbody>
        {% for Reservation in lezioni %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Reservation.id }}</td>
                <td style="text-align: center; width: 10%;">{{ Reservation.course_name }}</td>
                <td style="text-align: center; width: 10%;">{{ Reservation.room }}</td>
                <td style="text-align: center; width: 10%;">{{ Reservation.trainer }}</td>
                <td style="text-align: center; width: 10%;">{{ Reservation.reservation_slot }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
