{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.introduzione')}}">Introduzione</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotazioniAttive')}}">Prenotazioni Attive</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaSalaPesi')}}">Prenota Sala Pesi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.iscrizioneAiCorsi')}}">Iscrizione ai Corsi</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.prenotaLezioneCorso')}}">Prenota Lezione Corso</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.cambiaDatiUtente')}}">Gestione Utente</a>  
    </li>
    <!--  QUI SERVIREBBE UN TASTO LOGOUT -->
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}

<!-- DEVO CAPIRE COME FARE IN MODO DI POTER PRENOTARE UNA LEZIONE DI UN CORSO A CUI L'UTENTE E' ISCRITTO, PER ORA LI STAMPO -->

<!-- Stampa la lista delle lezioni prenotabili
<h1> Lezioni PRenotabili </h1>
<ul class="collection with-header">
    {% for lezione in lezioni %}
        <li class="collection-item">{{ lezione.nomeCorso }} , {{ lezione.istruttore }} , {{ lezione.locale }} , {{ lezione.dataOraInizio }} , {{ lezione.dataOraFine }} </li>
    {% endfor %}
</ul>
-->

{% endblock %}
