{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('instructor.introduzione')}}">Introduzione</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('instructor.prossimeLezioni')}}">Prossime Lezioni</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('instructor.creaLezioni')}}">Crea Lezioni</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
    </li>
</ul>
<!-- Name of the user logged in -->
<ul class="navbar-nav ml-auto">
    <li class="nav_item">
        <a class="nav-link">{{userName}}</a>
    </li>
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<br><br>

<!-- Stampa la lista delle lezioni da insegnare questa settimana -->
<h1 align="center"> Lezioni di questa settimana </h1>
<br><br>
<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Giorno</th>
            <th style="text-align: center;" scope="col">Corso</th>
            <th style="text-align: center;" scope="col">Stanza</th>
            <th style="text-align: center;" scope="col">Slot</th>
        </tr>
    </thead>
    <tbody>
        {% for Lesson in lezioni %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Lesson.reservation_slot_obj.day }}</td>
                <td style="text-align: center; width: 10%;">{{ Lesson.course_obj.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Lesson.course_room_obj.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Lesson.reservation_slot_obj.slot_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<br><br>
<h1 align="center"> Corsi in cui insegno </h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Nome</th>
            <th style="text-align: center;" scope="col">Stanza</th>
        </tr>
    </thead>
    <tbody>
        {% for Course in corsi %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Course.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Course.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
