{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="#">Introduzione</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Prossime Lezioni</a>  <!-- AGGIUNGERE LINK -->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Crea Lezioni</a>  <!-- AGGIUNGERE LINK -->
    </li>
    <!--  QUI SERVIREBBE UN TASTO LOGOUT -->
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}

<!-- Stampa la lista dei corsi con il numero di iscritti al corso
<h1> Corsi in cui insegno </h1>
<ul class="collection with-header">
    {% for corso in corsi %}
        <li class="collection-item">{{ corso.nome }} , {{ corso.locale }} , {{ corso.numeroPrenotati }}</li>
    {% endfor %}
</ul>
-->

<br><br>

<!-- Stampa la lista delle lezioni da insegnare questa settimana
<h1> Lezioni di questa settimana in cui insegnare </h1>
<ul class="collection with-header">
    {% for lezione in lezioni %}
        <li class="collection-item">{{ lezione.corso }} , {{ lezione.locale }} , {{ lezione.dataOraInizio }} , {{ lezione.dataOraFine }} , {{ lezione.numeroPrenotati }}</li>
    {% endfor %}
</ul>
-->

{% endblock %}
