{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('instructor.introduzione')}}">Introduzione</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('instructor.prossimeLezioni')}}">Prossime Lezioni</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('instructor.creaLezioni')}}">Crea Lezioni</a>  
    </li>
    <!--  QUI SERVIREBBE UN TASTO LOGOUT -->
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}
<br><br>

<!-- Stampa la lista delle lezioni da insegnare questa settimana -->
<h1 align="center"> Lezioni di questa settimana in cui insegno </h1>
<ul class="collection with-header">
    {% for Lesson in lezioni %}
        <li class="collection-item">{{ Lesson.id }} , {{ Lesson.course }} , {{ Lesson.course_room }} , {{ Lesson.reservation_slot }}</li>
    {% endfor %}
</ul>

<br><br>
<!-- Stampa la lista dei corsi con il numero di iscritti al corso -->
<h1 align="center"> Corsi in cui insegno </h1>
<ul class="collection with-header">
    {% for Course in corsi %}
        <li class="collection-item">{{ Course.id }} , {{ Course.name }} , {{ Course.description }}</li>
    {% endfor %}
</ul>

{% endblock %}
