{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('instructor.introduzione')}}">Introduzione</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('instructor.prossimeLezioni')}}">Prossime Lezioni</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('instructor.creaLezioni')}}">Crea Lezioni</a>  
    </li>
    <!--  QUI SERVIREBBE UN TASTO LOGOUT -->
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}
<br><br>

<!-- Stampa la lista delle lezioni da insegnare in totale -->
<h1 align="center"> Prossime lezioni in cui insegnerò </h1>
<ul class="collection with-header">
    <!--
    {% for lezione in lezioni %}
        <li class="collection-item">{{ lezione.corso }} , {{ lezione.locale }} , {{ lezione.dataOraInizio }} , {{ lezione.dataOraFine }} , {{ lezione.numeroPrenotati }}</li>
    {% endfor %}
    -->
</ul>


{% endblock %}
