{% extends "base.html" %}


<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav" >
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.loginPage')}}">Login</a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.registerPage')}}">Registrati</a> 
    </li>
</ul>
{% endblock %}


{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<!-- Stampa la lista dei corsi -->
<br><br>
<h1 align="center">Corsi palestra</h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Nome</th>
            <th style="text-align: center;" scope="col">Descrizione</th>   
        </tr>
    </thead>
    <tbody>
        {% for Course in corsi %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Course.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Course.description }}</td>            
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br><br>


<!-- Stampa la lista delle sale -->
<h1 align="center">Stanze palestra</h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Nome</th>
            <th style="text-align: center;" scope="col">Descrizione</th>  
            <th style="text-align: center;" scope="col">Capacità massima</th> 
            <th style="text-align: center;" scope="col">Sala pesi?</th>   
  
 
        </tr>
    </thead>
    <tbody>
        {% for Room in stanze %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Room.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Room.description }}</td> 
                <td style="text-align: center; width: 10%;">{{ Room.max_capacity }}</td>
                <td style="text-align: center; width: 10%;">{{ Room.is_weight }}</td>

           
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br><br>





{% endblock %}
