{% extends "base.html" %}


<!-- Links in the navbar -->
{% block navbar %}

<!-- Header if the user seeing the page isn't logged in -->
{% if user.is_anonymous %}
<ul class="navbar-nav" >
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.registerPage')}}">Registrati</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('general.loginPage')}}">Login</a>
    </li>
</ul>

<!-- If the user is logged in -->
{% else %} 
    <!-- Header if the user seeing the page logged in as a User -->
    {% if user.role == 1 %}
    <ul class="navbar-nav navbar-light">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('user.introduzione')}}">Introduzione</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('user.prenotazioniAttive')}}">Prenotazioni Attive</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('user.prenotaSalaPesi')}}">Prenota Sala Pesi</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('user.iscrizioneAiCorsi')}}">Iscrizione ai Corsi</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('user.cambiaDatiUtente')}}">Gestione Utente</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
        </li>
    </ul>
    <!-- Name of the user logged in -->
    <ul class="navbar-nav ml-auto">
        <li class="nav_item">
            <a class="nav-link">{{userName}}</a>
        </li>
    </ul>
    {% endif %}

    <!-- Header if the user seeing the page logged in as a Trainer -->
    {% if user.role == 2 %}
    <ul class="navbar-nav navbar-light">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('instructor.introduzione')}}">Introduzione</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('instructor.prossimeLezioni')}}">Prossime Lezioni</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('instructor.creaLezioni')}}">Crea Lezioni</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
        </li>
    </ul>
    <!-- Name of the user logged in -->
    <ul class="navbar-nav ml-auto">
        <li class="nav_item">
            <a class="nav-link">{{userName}}</a>
        </li>
    </ul>
    {% endif %}

    <!-- Header if the user seeing the page logged in as a Manager -->
    {% if user.role == 3 %}
    <ul class="navbar-nav navbar-light">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('manager.introduzione')}}">Introduzione</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('manager.gestioneUtenti')}}">Gestione Utente</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('manager.gestioneTrainers')}}">Gestione Trainer</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('manager.gestioneSale')}}">Gestione Sale</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('manager.gestioneOrariPalestra')}}">Gestione Orari Palestra</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('manager.gestionePolicy')}}">Gestione Policy</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('manager.gestioneCorsi')}}">Gestione Corsi</a>  
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('general.logout')}}">Logout</a>  
        </li>
    </ul>

<!-- Name of the user logged in -->
<ul class="navbar-nav ml-auto">
    <li class="nav_item">
        <a class="nav-link">{{userName}}</a>
    </li>
</ul>
    {% endif %}

{% endif %}

{% endblock %}


{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<!-- Stampa la lista dei corsi -->
<br><br>
<h1 align="center">Corsi palestra</h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Nome</th>
            <th style="text-align: center;" scope="col">Descrizione</th>  
            <th style="text-align: center;" scope="col">Nome istruttore</th> 
        </tr>
    </thead>
    <tbody>
        {% for Course in corsi %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Course.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Course.description }}</td>   
                <td style="text-align: center; width: 10%;">{{ Course.trainer_obj.surname }}</td>          
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br><br>


<!-- Stampa la lista delle sale pesi -->
<h1 align="center">Sale pesi</h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Nome</th>
            <th style="text-align: center;" scope="col">Descrizione</th>  
            <th style="text-align: center;" scope="col">Capacità massima</th>  
        </tr>
    </thead>
    <tbody>
        {% for Room in salaPesi %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Room.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Room.description }}</td> 
                <td style="text-align: center; width: 10%;">{{ Room.max_capacity }}</td>           
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br><br>


<!-- Stampa la lista delle sale corsi -->
<h1 align="center">Sale corsi</h1>
<br><br>

<table id="table" class="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center;" scope="col">Nome</th>
            <th style="text-align: center;" scope="col">Descrizione</th>  
            <th style="text-align: center;" scope="col">Capacità massima</th>  
        </tr>
    </thead>
    <tbody>
        {% for Room in salaCorsi %}
            <tr>
                <td style="text-align: center; width: 10%;">{{ Room.name }}</td>
                <td style="text-align: center; width: 10%;">{{ Room.description }}</td> 
                <td style="text-align: center; width: 10%;">{{ Room.max_capacity }}</td>           
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br><br>




{% endblock %}
